/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 19, 2019, 1:29:10 PM
    Author     : Admin
*/
@font-face{
	font-family: titile;
	src: url(../../font/AdobeDevanagari-Regular.otf);
}
}


body{
    text-align: left;
    font-family: Adobe Devanagari;
	font-style: normal;
	
}
.suachu
{
	font-family: Social Gothic;
	color: #626677;
	padding-bottom: 50px;
	width: 100%;
	margin-left: 450px;
	font-size: 25px;
	text-align: center;
}

body .p
{
	font-style:  #626677;
}

html{
    scroll-behavior: smooth;
}

h1{
    font-family:  Adobe Devanagari;
	
}
.product{
    opacity: 0.9;  
    border-radius: 5px;
}
.head{
   
	height: 100%;

}

.head-img-bg{
	width: 100%;
	height: 100%;
	
}
.navbar {
    overflow: hidden;
    color: black;
    font: sans-serif;

}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.navbar a:hover, .dropdown:hover .dropbtn {
    
    border-radius: 15px;
    color: #fff;
    background-color: #7fba00;
    border-color: #1e7e34;

}


.footer{
         
    text-align: left;    
}
.footer a{
    color: #999999;
    text-decoration: none;
}
.footer a:hover{
    color: #ffffff;
    text-decoration: none;
}




#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#e8b80c ;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}





.btn {
    height:80px;
    width: 500px;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
	font-family: social gothic;
    background-color: transparent;
    border: 1px solid #cccccc;
    padding: 0.375rem 0.75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out;
	background-color: 0.15s ease-in-out;
	border-color: 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-black {
    background: #333333;
    color: white
}

.btn:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.80);
    background-color: rgba(0,0,0,0.50);
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

.middle P{
  
  /* line-height: 70px; */
  text-align: center;
  font-size: 55px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: white;
}

[class*="col-"] {
    float: left;  
}

.col-img-1 {width: 50%}
.col-img-2 {width: 25%}
.col-img-3 {width: 25%}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


[class*="col-offset"] {
    float: left;  
}

.col-offset-img-1 {margin-left: 0%;}
.col-offset-img-2 {margin-left: 25%;}
.col-offset-img-3 {margin-left: 50%;}
.col-offset-img-4 {margin-left: 75%;}
.col-offset-img-5 {margin-left: 100%;}


.col-offset-0-0{margin-left: 0px;}
.col-offset-1 {margin-left: 8.33%;}
.col-offset-0-5 {margin-left: 4.1667%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}
.col-offset-12 {margin-left: 100%;}

.col-offset-1 {
	width: 300px;
	height: 600px;
	box-shadow: 1px 1px 1px 1px silver;
	margin-left: 50px;
}

.col-offset-1:hover{
		animation: bounce 1s forwards;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 30%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.container {
  position: relative;
  width: 100%;
  font-family: Social Gothic;
	font-size: 35px;
	font-weight: bold;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .product {
  opacity: 0.7;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  width: 33%;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.icon-container{
  
    display: inline-block;
    opacity: 1;
    width: 40%;
    margin: 3%;
	font-family: Adobe Devanagari;
}

.icon-img{
    margin: 4%;
    width: 50%;
    height: 50%;    
}


.container-q {
  position: relative;
  text-align: center;

}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}